<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forgot-password"></ion-back-button>
    </ion-buttons>
    <ion-title class="attendance-label">Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forgot-password-body">
    <img class="wv-logo" src="../assets/icon/branding/coat-of-arms.png" alt="">
    <ion-title class="forgot-password-title">You have requested a password reset. To set <br>a new password, please
      check your inbox and <br>enter the reset code we have sent to <br><span
        class="email-address-name">{{data.email}}</span></ion-title>

    <app-myform [formItems]="formItems" [url]="url" [submitButtonText]="'Set New Password'" submitButtonPreText=""
      [formGroupOrder]="formGroupOrder" [hideButtons]=false (onPostedData)="onPostedData($event)">
    </app-myform>
    <!-- <ion-item>
      <ion-input class="input-placeholder" placeholder="Password Reset code">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="input-placeholder" placeholder="New Password">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input class="input-placeholder" placeholder="Verify Password">
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="submit-button">
      Confirm
    </ion-button> -->
  </div>

</ion-content>