.attendance-label {
  font-family: "Prompt-Medium";
  color: #fff;
  font-size: 17px;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.card-header {
  font-family: "Prompt-Semibold";
  color: #fff;
  font-size: 15px;
  margin-left: 5%;
}

.student-searchbar {
  height: 12px;
  width: 123%;
  margin-left: -13%;
  font-family: "Prompt-Regular";
}

.student-name {
  font-family: "Prompt-Semibold";
  font-size: 13px;
  color: #404040;
}

.student-id {
  font-family: "Prompt-Light";
  font-size: 13px;
  color: #404040;
}

.submit-btn{
  font-family: "Prompt-Semibold";
  font-size: 11px;
}

.edit-button {
  margin-right: -5%;
}

.add-fab-icon{
  padding: 12px;
}

// .add-fab-icon:hover{
//   background-color: white;
//   border-color:#3F85D6;
//   color: #3F85D6;
// }