<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title class="school-label">{{"Edit Password" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="PasswordForm" (ngSubmit)="submitPasswordForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding list-margin">
      <ion-item>
        <ion-label position="stacked" class="input-label">{{"Old Password" | translate}} &nbsp;<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="input-placeholder" type="password" formControlName="old_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="input-label">{{"New Password" | translate}} &nbsp;<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="input-placeholder" type="password" formControlName="new_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="input-label">{{"Confirm Password" | translate}}&nbsp;<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input class="input-placeholder" type="password" formControlName="re_password"></ion-input>
      </ion-item>
      <p *ngIf="error" class="form-error">{{error | translate}}</p>
    </ion-list>
    <p></p>
    <ion-button expand="block" type="submit" class="submit-button">{{"Change Password" | translate}}</ion-button>
  </form>

</ion-content>