.logo-txt {
  text-align: center;
  font-size: 17px;
  color: #000;
  font-weight: 700;
  font-family: "Times New Roman", sans-serif;
}

.ministry-text {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.state-text {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.partner-logo {
  margin: 10px 0px 0px 15px;
}

.login-label {
  font-family: "Prompt-Regular";
  color: #404040;
  font-size: 16px;
}

.input-position {
  margin-top: 5%;
}

.input-position-password {
  margin-top: 2%;
}
.sc-ion-input-md {
  background-color: #fff;
}

.input-form {
  font-family: "Prompt-Light";
  font-size: 13px;
}

.login-icon {
  font-size: 20px;
  color: #3f85d6;
  position: absolute;
  margin-left: 90%;
  margin-top: 8%;
}

.login-button {
  font-family: "Prompt-Bold";
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  margin-top: 10%;
  margin-bottom: 5%;
  max-width: 100%;
  height: 50px;
}

.login-button:hover {
  background-color: white;
  border: solid 2px #3f85d6;
  color: #3f85d6;
  border-radius: 10px;
}

.forgot-password {
  font-family: "Prompt-Medium";
  font-size: 12px;
  text-align: center;
  color: #3f85d6;
}

.login-text {
  font-family: "Prompt-Medium";
  font-size: 18px;
  margin-top: 7%;
  margin-bottom: 5%;
  color: #404040;
}

.login-text-bold {
  font-family: "Prompt-Bold";
  font-size: 22px;
  color: #3f85d6;
}

.wv-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  max-width: 196px;
  max-height: 172px;
  margin-bottom: 3%;
}

.unicef-logo {
  width: 80%;
}

.naconek-logo {
  width: 65%;
  margin-top: -5px;
}

.educate-a-child-logo {
  width: 70%;
}

.nemis-logo {
  padding-right: 20px;
  padding-top: 6px;
}

.login-frame {
  margin-top: 15%;
}
