.attendance-label {
    font-family: "Prompt-Medium";
    font-size: 17px;
}

.forgot-password-body {
    margin-top: 5vh;
}

.forgot-password-title {
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.submit-button {
    margin-top: 40px;
}
  