<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button class="tab-button" tab="attendance">
            <ion-icon class="tab-icon" src="../assets/icon/tab-icons/attendance.svg"></ion-icon>
            <ion-label class="tab-label">{{"Attendance" | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button class="tab-button" tab="myschool">
            <ion-icon class="tab-icon" src="../assets/icon/tab-icons/school.svg"></ion-icon>
            <ion-label class="tab-label">{{"My School" | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button class="tab-button" tab="overall-reports">
            <ion-icon class="tab-icon" src="../assets/icon/tab-icons/report.svg"></ion-icon>
            <ion-label class="tab-label">{{"Reports" | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button class="tab-button" tab="profile">
            <ion-icon class="tab-icon" src="../assets/icon/tab-icons/profile.svg"></ion-icon>
            <ion-label class="tab-label">{{"Profile" | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>