@font-face {
  font-family: "Prompt-Bold";
  src: url("../assets/fonts/Prompt/Prompt-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Prompt-Light";
  src: url("../assets/fonts/Prompt/Prompt-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Prompt-Medium";
  src: url("../assets/fonts/Prompt/Prompt-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Prompt-Regular";
  src: url("../assets/fonts/Prompt/Prompt-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Prompt-Semibold";
  src: url("../assets/fonts/Prompt/Prompt-SemiBold.ttf");
  font-style: normal;
}
