.attendance-label {
  font-family: "Prompt-Semibold";
  color: #fff;
  font-size: 15px;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
}

.card-header {
  font-family: "Prompt-Light";
  color: #fff;
  font-size: 14px;
  margin-left: 3%;
}

.student-name {
  font-family: "Prompt-Semibold";
  font-size: 13px;
  color: #404040;
}

.other-textarea {
  border: 1px solid;
  padding: 5px;
  font-family: "Prompt-Semibold";
  font-size: 13px;
  line-height: 20px;
  margin-top: 6%;
}

.submit-button {
  font-family: "Prompt-Bold";
  margin-top: 4%;
}
