.attendance-label {
  font-family: "Prompt-Bold";
  color: #fff;
  font-size: 20px;
  margin-top: 5%;
}

.attendance-class {
  font-family: "Prompt-Regular";
  color: #fff;
  font-size: 16px;
  margin-bottom: 5%;
}

.attendance-top-icon {
  font-size: 28px !important;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
  height: 11%;
}

.card-header {
  font-family: "Prompt-Semibold";
  color: #fff;
  font-size: 15px;
  margin-left: 3%;
}

.school-badge {
  font-family: "Prompt-Regular";
  background-color: white;
  color: #404040;
  font-size: 11px;
  padding: 4px;
  float: right;
}

.student-searchbar {
  height: 12px;
  width: 123%;
  margin-left: -13%;
  font-family: "Prompt-Regular";
}

.student-name {
  font-family: "Prompt-Medium";
  font-size: 14px;
  color: #404040;
}

.student-id {
  font-family: "Prompt-Medium";
  font-size: 14px;
  color: #404040;
}

.edit-button {
  margin-right: -8%;
}

.add-fab {
  height: 50px;
  width: 50px;
}

.delete-alert {
  font-family: "Prompt-Semibold";
  font-size: 11px;
}

.tab-icon {
  font-size: 28px;
  color: #2096f3;
}

.attendance-row {
  border-bottom: 1px solid #dbdbdb;
}

.label {
  font-family: "Prompt-Semibold";
  font-size: 13px;
  color: #3f85d6;
  line-height: 40px;
}

.calendar-border {
  margin-top: 4%;
}

.date-text {
  font-family: "Prompt-Regular";
  height: 20px;
  display: inline-block;
  line-height: normal;
  font-size: 12px;
  width: 100%;
}

.calendar-icon {
  margin-left: 3%;
  color: #2096f3;
  vertical-align: middle;
}

.attendance-label {
  font-family: "Prompt-Medium";
  color: #fff;
  font-size: 15px;
  margin-top: 3%;
}

.student-name {
  font-family: "Prompt-Semibold";
  font-size: 15px;
  color: #404040;
}

.student-name-label {
  font-family: "Prompt-Semibold";
  font-size: 15px;
}

.present-bg {
  background-color: #2096f3;
  color: white;
}

.absent-bg {
  background-color: #FF5733;
  color: #fff;
}

.absent-reason-bg {
  background-color: #e91d64;
  color: #fff;
}

.school-badge {
  font-family: "Prompt-Regular";
  background-color: white;
  color: #404040;
  font-size: 11px;
  padding: 4px;
  float: right;
}

.chart-card {
  margin-top: 5%;
}

.absent-card {
  margin-top: 2%;
}

.checkmark {
  font-size: 18px;
  vertical-align: middle;
}

.retention-number {
  font-family: "Prompt-Bold";
  font-size: 20px;
  font-weight: 800;
}

.retention-rate {
  font-family: "Prompt-Bold";
  font-size: 14px;
  font-weight: 600;
}

.absent-label-text {
  font-family: "Prompt-Bold";
  font-size: 16px;
  font-weight: 600;
}

.retention-rate-num {
  font-family: "Prompt-Regular";
  font-size: 12px;
}

.retention-rate-text {
  font-family: "Prompt-Semibold";
  font-size: 12px;
}

.probability-check {
  font-size: 26px;
}

.attendance-row-colored {
  border-bottom: 1px solid #dbdbdb;
  background-color: #2096f3;
  color: white;
}

.school-label {
  font-family: "Prompt-Medium";
  color: #fff;
  font-size: 17px;
}

.input-label {
  font-family: "Prompt-Semibold";
  color: #404040;
  font-size: 16px;
}

.input-placeholder {
  font-family: "Prompt-Light";
  font-size: 14px;
}

.submit-button {
  font-family: "Prompt-Bold";
  margin-top: 4%;
}

.list-margin {
  margin-top: 4%;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
  height: 11%;
}

.card-header {
  font-family: "Prompt-Semibold";
  color: #fff;
  font-size: 15px;
  margin-left: 3%;
}

.school-badge {
  font-family: "Prompt-Regular";
  background-color: white;
  color: #404040;
  font-size: 11px;
  padding: 4px;
  float: right;
}

.student-searchbar {
  height: 12px;
  width: 123%;
  margin-left: -13%;
  font-family: "Prompt-Regular";
}

.student-name {
  font-family: "Prompt-Semibold";
  font-size: 13px;
  color: #404040;
}

.student-id {
  font-family: "Prompt-Light";
  font-size: 13px;
  color: #404040;
  margin-left: 17%;
}

.submit-button {
  font-family: "Prompt-Semibold";
  font-size: 11px;
}

.edit-button {
  margin-right: -8%;
}

.add-fab {
  height: 50px;
  width: 50px;
}

.delete-alert {
  font-family: "Prompt-Semibold";
  font-size: 11px;
}

.tab-icon {
  font-size: 28px;
  color: #2096f3;
}
