.attendance-label {
  font-family: "Prompt-Bold";
  color: #fff;
  font-size: 20px;
  margin-top: 5%;
}

.attendance-class {
  font-family: "Prompt-Regular";
  color: #fff;
  font-size: 16px;
  margin-bottom: 5%;
}

.attendance-top-icon {
  font-size: 28px !important;
}

.label {
  font-family: "Prompt-Medium";
  font-size: 13px;
  color: #3f85d6;
  line-height: 40px;
}

.calendar-border {
  margin-top: 4%;
}

.calendar-icon {
  margin-left: 3%;
  color: #2096f3;
  vertical-align: middle;
}

.calendar-date {
  font-family: "Prompt-Regular";
  color: #404040;
}

.date-text {
  font-family: "Prompt-Regular";
  height: 20px;
  display: inline-block;
  line-height: normal;
  font-size: 14px;
  width: 100%;
}

.attendance-row {
  border-bottom: 1px solid #dbdbdb;
}

.student-name {
  font-family: "Prompt-Medium";
  font-size: 14px;
  color: #404040;
}

.student-id {
  font-family: "Prompt-Medium";
  font-size: 12px;
  color: #404040;
}

.gender-badge {
  font-size: 10px;
  position: fixed;
}

.special-needs-badge {
  font-size: 10px;
  margin-left: 10px;
  background-color: rgb(128, 0, 128, 0.7);
  position: fixed;
}
