<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/classes"></ion-back-button>
    </ion-buttons>
    <ion-title class="school-label">
      <span>Add Class</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-myform [formItems]="formItems" [extraFields]="extra_fields" [url]="url" (onPostedData)="onPostedData($event)"
    [formGroupOrder]="formGroupOrder" [instance]="instance" submitButtonText="Class">
  </app-myform>

</ion-content>