.attendance-label {
  font-family: "Prompt-Bold";
  color: #fff;
  font-size: 15px;
  margin-top: 5%;
}

.attendance-class {
  font-family: "Prompt-Light";
  color: #fff;
  font-size: 14px;
  margin-bottom: 5%;
}

.attendance-top-icon {
  font-size: 28px !important;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
  height: 11%;
}

.card-header {
  font-family: "Prompt-Semibold";
  color: #fff;
  font-size: 15px;
  margin-left: 3%;
}

.school-badge {
  font-family: "Prompt-Regular";
  background-color: white;
  color: #404040;
  font-size: 11px;
  padding: 4px;
  float: right;
}

.student-searchbar {
  height: 12px;
  width: 123%;
  margin-left: -13%;
  font-family: "Prompt-Regular";
}

.student-name-mark {
  font-family: "Prompt-Semibold";
  font-size: 14px;
  color: #404040;
}

.student-name {
  font-family: "Prompt-Semibold";
  font-size: 13px;
  color: #404040;
  padding-bottom: 2%;
  padding-top: 2%;
}

.student-id {
  font-family: "Prompt-Light";
  font-size: 13px;
  color: #404040;
}

.edit-button {
  margin-right: -8%;
}

.add-fab {
  height: 50px;
  width: 50px;
}

.delete-alert {
  font-family: "Prompt-Semibold";
  font-size: 11px;
}

ion-checkbox {
  --size: 20px;
}

.submit-button {
  font-family: "Prompt-Semibold";
  margin-top: 4%;
}

.move-students-class {
  font-family: "Prompt-Bold";
  font-size: 11px;
}
