.school-label {
  font-family: "Prompt-Bold";
  color: #404040;
  font-size: 20px;
}

.inner-label {
  font-family: "Prompt-Medium";
  color: #404040;
  font-size: 16px;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
}

.card-header {
  font-family: "Prompt-Medium";
  color: #fff;
  font-size: 20px;
  margin-left: 3%;
}

.tab-icon {
  font-size: 16px;
  color: #000;
}

.card-item {
  font-family: "Prompt-Medium";
  color: #404040;
  font-size: 14px;
  height: 45px;
}

.school-badge {
  font-family: "Prompt-Regular";
  background-color: white;
  color: #404040;
  font-size: 11px;
  padding: 4px;
  float: right;
}
