<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="attendance-label">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forgot-password-body">
    <img class="wv-logo" src="../assets/icon/branding/coat-of-arms.png" alt="">
    <ion-title class="forgot-password-title">Enter your details below in order to get a <br>reset code sent to your
      email address</ion-title>

    <app-myform [formItems]="formItems" [url]="url" [submitButtonText]="'Reset Password'" submitButtonPreText=""
      [formGroupOrder]="formGroupOrder" [hideButtons]=false (onPostedData)="onPostedData($event)">
    </app-myform>

  </div>
</ion-content>