.attendance-label {
  font-family: "Prompt-Bold";
  color: #fff;
  font-size: 15px;
  margin-top: 5%;
}

.attendance-class {
  font-family: "Prompt-Light";
  color: #fff;
  font-size: 14px;
  margin-bottom: 5%;
}

.attendance-top-icon {
  font-size: 28px !important;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.card-header {
  font-family: "Prompt-Semibold";
  color: #fff;
  font-size: 15px;
  margin-left: 5%;
}

.school-badge {
  font-family: "Prompt-Regular";
  background-color: white;
  color: #404040;
  font-size: 11px;
  padding: 4px;
  float: right;
}

.student-searchbar {
  height: 12px;
  width: 123%;
  margin-left: -13%;
  font-family: "Prompt-Regular";
}

.student-name {
  font-family: "Prompt-Semibold";
  font-size: 13px;
  color: #404040;
}

.student-id {
  font-family: "Prompt-Light";
  font-size: 13px;
  color: #404040;
}

.submit-btn {
  font-family: "Prompt-Semibold";
  font-size: 11px;
}

// .submit-btn:hover{
//   background-color: white;
//   border: solid 2px #3F85D6;
//   color: #3F85D6;
//   border-radius: 10px;
// }

.add-fab-icon{
  padding: 12px;
}

// .add-fab-icon:hover{
//   background-color: white;
//   border-color:#3F85D6;
//   color: #3F85D6;
// }

.edit-button {
  margin-left: 0px;
  margin-right: -15px;
}

.add-fab {
  height: 50px;
  width: 50px;
}

.delete-alert {
  font-family: "Prompt-Semibold";
  font-size: 11px;
}
