.attendance-label {
  font-family: "Prompt-Medium";
  color: #404040;
  font-size: 17px;
}

.accordion-card {
  background-color: #2096f3;
  color: white;
  width: 102%;
  margin-left: -1%;
  margin-bottom: -1%;
}

.accordion-title {
  color: white;
  font-family: "Prompt-Semibold";
  font-size: 13px;
  margin-top: 2%;
  margin-bottom: -2%;
  width: 85%;
}

.manual-title {
  color: white;
  font-family: "Prompt-Semibold";
  font-size: 13px;

  width: 85%;
}

.accordion-icon {
  float: right;
  margin-top: -10px;
  font-size: 18px;
  color: white;
}

.manual-icon {
  float: right;
  margin-top: -25px;
  font-size: 18px;
  color: white;
}

.accordion-content {
  color: white;
  font-family: "Helvetica Neue";
  font-size: 13px;
}

.black-back {
  color: black;
  
}

.manual-label {
  font-family: "Prompt-Regular";
  color: #404040;
  font-size: 15px;
}

.user-manual-button {
  margin-left: 5%;
  margin-top: -20px;
}

.contact-us-button {
  margin-left: 5%;
  margin-top: -5px;
}
