.class-list-header {
  font-family: "Prompt-Light";
  font-size: 13px;
}

.class-list {
  font-family: "Prompt-Regular";
  font-size: 14px;
}

.teachers-list {
  font-family: "Prompt-Regular";
  font-size: 14px;
}
