.attendance-label {
  font-family: "Prompt-Medium";
  color: #fff;
  font-size: 17px;
}

.card-class {
  width: 100%;
  margin-left: 0%;
  border-radius: 0px;
  height: 11%;
}

.student-searchbar {
  height: 12px;
  width: 123%;
  margin-left: -13%;
  font-family: "Prompt-Regular";
}

.student-name {
  font-family: "Prompt-Semibold";
  font-size: 13px;
  color: #404040;
}

.student-id {
  font-family: "Prompt-Light";
  font-size: 13px;
  color: #404040;
}

.submit-btn {
  font-family: "Prompt-Semibold";
  font-size: 11px;
}

// .submit-btn:hover{
//   background-color: white;
//   border: solid 2px #3F85D6;
//   color: #3F85D6;
//   border-radius: 10px;
// }

.add-fab-icon{
  padding: 12px;
}

// .add-fab-icon:hover{
//   background-color: white;
//   border-color:#3F85D6;
//   color: #3F85D6;
// }

.edit-button {
  margin-right: 5%;
}
